asttokens
backcall 
backports.functools-lru-cache
certifi==2021.10.8
charset-normalizer==2.0.12
colorama 
cycler==0.11.0
debugpy 
decorator 
entrypoints 
executing 
filelock==3.7.0
fonttools==4.33.3
huggingface-hub==0.7.0
idna==3.3
ipykernel 
ipython 
jedi 
joblib==1.1.0
jupyter-client 
jupyter-core 
kiwisolver==1.4.2
matplotlib==3.5.2
matplotlib-inline 
nest-asyncio 
numpy==1.22.3
opencv-contrib-python==4.5.5.64
packaging 
pandas==1.4.2
parso 
pickleshare 
Pillow==9.1.0
prompt-toolkit 
psutil 
pure-eval 
Pygments 
pyparsing 
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
python-dateutil 
pytz==2022.1
pywin32==303
PyYAML==6.0
pyzmq 
regex==2022.4.24
requests==2.27.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six 
stack-data 
threadpoolctl==3.1.0
tokenizers==0.12.1
tornado 
tqdm==4.64.0
traitlets 
transformers==4.19.2
typing_extensions==4.2.0
urllib3==1.26.9
wcwidth 
wincertstore==0.2
